html {
  height: 100%;
}

body {
  display:flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  margin: 20px;
  margin: 0;
  height: 100%;
 }

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c3e50;;
    padding: 10px;
    margin: 0;
    margin-bottom: 10px;
  }
  
  .logo img {
    height: 60px;
  }
  .logo{
    color:#ffffff;
    font-size: 20px;
    text-align: center;
  }
  
  .hello {
    flex-grow: 1;
    text-align: center;
    
    color: #ffffff;
    font-size: 30px;
  }
  
  .logout button {
    background-color: #dad2d2;
    color: #0f0d0d;
    padding: 5px 20px;
    border: 2px solid #0f0d0d;
    border-radius: 10px;
    cursor: pointer;
  }

.main{
  flex-grow: 1;
  }

footer{
   display:flex;
   justify-content: right;
   align-items: center;
   flex-shrink: 0;
   margin-bottom: 0;
   background-color: rgb(235, 235, 235);
   height: 60px;
   padding: 10px;
  }

   .git img {
    height: 40px;
   }

   .git{
    text-align: center;
    cursor:pointer;
   }
   
   .author{
    font-size: 15px;
    text-align: center;
    margin-right: 5px;
   }
   
   h1, h3 {
    color: #333;
   }

   h1{
    line-height: 40px;
   }

   h4{
    color:#2c3e50;
    font-size: 15px;
   }

   h2{
    color:#2c58aa;
    font-size: 15px;
    font-weight:lighter;
   }
   
   .searchLine{
    display:flex;
    align-items: center;
    height:80px;
    background-color: rgb(235, 235, 235);
    margin-bottom: 10px;
   }

   form {
    margin-left: 300px;
   }
   
   input[type="text"] {
    width: 200px;
    padding: 5px;
    margin-right: 10px;
   }
   
   button {
    padding: 5px 10px;
   }
   
   .forecast-day {

    padding-left: 10px;
    cursor: pointer;
    width: 300px;
   }

   .selected {
    background-color: #ccc;
   }
   
   .container{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-left: 300px;
    margin-right: 300px;
    background-color: #ffffff;
   }
   .current {
    font-size: 13px;
    margin-bottom: 20px;
    line-height: 10px;
   }
   .forec {

    margin-bottom: 0%;
   }