#main-page{
  display:flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  margin: 20px;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2c3e50;;
  padding: 10px;
  margin: 0;
  margin-bottom: 10px;
}

.logo img {
  height: 60px;
}
.logo{
  color:#ffffff;
  font-size: 20px;
  text-align: center;
}

.hello {
  flex-grow: 1;
  text-align: center;
  
  color: #ffffff;
  font-size: 30px;
}

.logout button {
  background-color: #dad2d2;
  color: #0f0d0d;
  padding: 5px 20px;
  border: 2px solid #0f0d0d;
  border-radius: 10px;
  cursor: pointer;
}

.main{
  flex-grow: 1;
  min-height: 67vh;
}

footer{
  display:flex;
  justify-content: right;
  align-items: center;
  margin-bottom: 0;
  background-color: rgb(235, 235, 235);
  height: 60px;
  padding: 10px;
}

 .git img {
   height: 40px;
 }

 .git{
   text-align: center;
   cursor:pointer;
 }
 
 .author{
   font-size: 15px;
   text-align: center;
   margin-right: 5px;
 }

#login-page{
  display:flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  margin: 0;
  height: 100%;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  line-height: 0;
}
.vh{
  margin-bottom: 10px;
}

.inp{
  margin-bottom: 20px;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
 }
   
   h1, h3 {
    color: #333;
   }

   h1{
    line-height: 40px;
   }

   h4{
    color:#2c3e50;
    font-size: 15px;
   }

   h2{
    color:#2c58aa;
    font-size: 15px;
    font-weight:lighter;
   }
   
   .searchLine{
    display:flex;
    align-items: center;
    height:80px;
    background-color: rgb(235, 235, 235);
    margin-bottom: 10px;
   }

   form {
    margin-left: 200px;
   }
   
   input[type="text"] {
    width: 200px;
    padding: 5px;
    margin-right: 10px;
   }
   
   button {
    padding: 5px 10px;
   }
   
   .forecast-day {
    cursor: pointer;
    width: 400px;
   }

   .selected {
    background-color: #ccc;
   }
   
   .container{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-left: 200px;
    margin-right: 0px;
   }
   .current {
    font-size: 13px;
    margin-bottom: 20px;
    line-height: 10px;
   }
   .forec {
    margin-bottom: 0%;
   }
   .hourly{
    font-size: 13px;
   }
   #hourlyData{
    display: flex;
    flex-direction: row;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 5px;
    margin-bottom: 20px;
    margin-right: 200px;
   }
  
  .hourlyElement {
    width: 45px;
    padding: 10px;
    border: 1px solid #ccc;
  }

  #forecastData{
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }